.profile {
  display: flex;
  padding-bottom: 20px;
  padding-top: 34px;
  margin: 0;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__image {
  width: 190px;
  height: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  width: 420px;
}

.profile__title {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: rgb(33, 33, 33, 1);
}

.profile__text {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: rgb(33, 33, 33, 0.7);
}

.profile__edit-button {
  display: flex;
  gap: 8px;
  padding: 0;
  border-style: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: rgb(33, 33, 33, 0.7);
  margin-top: auto;
}

.profile__edit-button:hover {
  cursor: pointer;
  color: rgb(33, 33, 33, 1);
  transition: color 0.5s ease-in;
}

.profile__button-post {
  align-items: center;
  margin-top: auto;
  margin-left: auto;
  width: 149px;
  height: 52px;
  border-radius: 8px;
  border-style: none;
  background-color: rgb(33, 33, 33, 1);
  line-height: 1;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  gap: 8px;
  color: rgb(252, 245, 229, 1);
}

.profile__button-post:hover {
  cursor: pointer;
  opacity: 80%;
  transition: opacity 0.5s ease-in;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 20px;
  }
  .profile__image {
    margin-right: 0;
    height: 80px;
    width: 80px;
  }
  .profile__title {
    margin: 12px 0 0;
    font-size: 20px;
  }
  .profile__edit-button {
    margin: 32px auto 0;
  }
  .profile__button-post {
    margin: 20px 0 0;
    width: 288px;
  }
}
